<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

    <head>
        <% include partials/head %>
    </head>

    <body>
        <%- include('partials/header', { active: 'about' }); %>

        <div class="container">
            <h1 class="text-primary text-center">À propos</h1>
            <br>
            <h2>L'équipe</h2>
            <br>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h4>Yohann Caillon</h4>
                        <p>Développeur / UI Designer</p>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <h4>Rémi Fusade</h4>
                        <p>Level Designer</p>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <h4>Jérémy Picard</h4>
                        <p>Graphiste / Artiste son</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h4>Esméralda Picquet</h4>
                        <p>Graphiste</p>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <h4>Camille Pignon</h4>
                        <p>Développeur</p>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <br>
            <h2>Le Github du projet</h2>
            <br>
            <p>Chou Fleur et son bro' Coli est un jeu open-source. Son code est disponible sur le repo Git suivant : <a href="https://github.com/Byosphere/ggj2018">Répo Git</a></p>
        </div>

        <%- include('partials/footer'); %>
    </body>
</html>