<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

    <head>
        <% include partials/head %>
    </head>

    <body>
        <%- include('partials/header', {active:'index'}); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center text-primary ">Chou Fleur et son bro' Coli</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Jouer au jeu</h2>
                    <br>
                    <p>Pour jouer au jeu rien de plus facile : clique sur le bouton <strong>Jouer</strong> ci-dessous.</p>
                    <p>Tu ne sais pas comment jouer ? Tu aimerais lire le tutoriel que nous avons concocté rien que pour toi ? Clique <a href="/instructions">ici</a>.</p>
                    <br>
                    <div class="text-center">
                        <a href="/game" class="btn eightbit-btn">Jouer</a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <h2>Rapporter un bug</h2>
                    <br>
                    <p>Tu as trouvé un bug ? Aides-nous à améliorer le jeu en nous le rapportant ! Pour cela, clique sur le lien suivant : <a href="#">Rapporter un bug</a>.</p>
                    <p>Essaie d'être le plus précis possible dans la description du bug de manière à ce que les développeurs puissent facilement le reproduire et le corriger !</p>
                </div>
            </div>
        </div>

        <%- include('partials/footer'); %>
    </body>

</html>