<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

    <head>
        <% include partials/head %>
    </head>

    <body>
        <%- include('partials/header', {active:'index'}); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center text-primary ">Accueil</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <h2>Jouer au jeu</h2>
                    <p>Pour jouer au jeu rien de plus facile : clique sur le bouton <strong>Jouer</strong> ci-dessous.</p>
                    <p>Tu ne sais pas comment jouer ? Tu aimerais lire le tutoriel que nous avons concocté rien que pour toi ? Clique <a href="/instructions">ici</a>.</p>
                    <br>
                    <div class="text-center">
                        <a id="play-btn" href="/game" class="btn">Jouer</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>