<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

    <head>
        <% include partials/head %>
    </head>

    <body>
        <%- include('partials/header', { active: 'instructions' }); %>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-primary text-center">How to play !</h1>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <ul class="navigation">
                        <li><a href="#presentation">Présentation</a></li>
                        <li><a href="#objectifs">Objectif du jeu</a></li>
                        <li><a href="#controls">Commandes et manettes</a></li>
                        <li><a href="#create-room">Créer un salon</a></li>
                        <li><a href="#join-room">Rejoindre un salon</a></li>
                        <li><a href="#selection">Choisir un niveau et un personnage</a></li>
                        <li><a href="#levels">Déblocage des niveaux</a></li>
                    </ul>
                </div>
                <div class="col-md-9">
                    <article id="presentation">
                        <h2>Présentation</h2>
                        <hr>
                        <p class="text-justify">
                            Bienvenue dans l'univers de chou Fleur et son bro Coli ! Il s'agit d'un jeu initialement réalisé en 48h lors de la Global Game Jam 2018 à l'aide de Phaser CE et Socket.io. 
                            <br>
                            Il est entièrement jouable sur navigateur. Tu peux donc y jouer depuis n'importe où sur la planète alors trouves-toi un partenaire de jeu et plonges dans cet univers 16 bits afin de résoudre les nombreux puzzles qui composent les deux mondes du jeu !
                            <br>
                            Le jeu est toujours en développement ce qui signifie que de nombreuses mises à jour viendront enrichir son gameplay et corriger les éventuels bugs.
                        </p>
                    </article>
                    <article id="objectifs">
                        <h2>Objectif du jeu</h2>
                        <hr>
                        <p class="text-justify">
                            Ton/ta partenaire et toi incarnez Fleur et Coli, deux légumes intrépides !
                        </p>
                    </article>
                    <article id="controls">
                        <h2>Commandes et manettes</h2>
                        <hr>
                        <p></p>
                    </article>
                    <article id="create-room">
                        <h2>Créer un salon</h2>
                        <hr>
                        <p></p>
                    </article>
                    <article id="join-room">
                        <h2>Rejoindre un salon</h2>
                        <hr>
                        <p></p>
                    </article>
                    <article id="selection">
                        <h2>Choisir un niveau et un personnage</h2>
                        <hr>
                        <p></p>
                    </article>
                    <article id="levels">
                        <h2>Déblocage des niveaux</h2>
                        <hr>
                        <p></p>
                    </article>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <img src="./assets/logo.png" width="15%" />
                </div>
            </div>
        </div>
    </body>

</html>