<br>
<br>
<footer class="container">
    <div class="row">
        <div class="col text-center">
            <div class="small-separator mx-auto"></div>
            <img src="/assets/logo.png" width="15%" />
            <p>Suivez-nous sur facebook :
                <a href="http://www.facebook.com">
                    <img src="/assets/site/social/facebook.png" class="social-btn" />
                </a>
            </p>
        </div>
    </div>
</footer>