<br>
<br>
<footer class="container">
    <div class="row">
        <div class="col text-center">
            <div class="small-separator mx-auto"></div>
            <img src="<%= baseUrl %>/logo.png" width="15%" />
            <p>Suivez-nous sur facebook :
                <a href="https://www.facebook.com/legumineux/">
                    <img src="<%= baseUrl %>/site/social/facebook.png" class="social-btn" />
                </a>
            </p>
        </div>
    </div>
</footer>