body, html {
    background-color: #222;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'uni0553', Arial, Helvetica, sans-serif;
}

canvas {
    margin: 0 auto;
}

@font-face {
    font-family: 'uni0553';
    src: url('fonts/uni0553-webfont.eot');
    src: url('fonts/uni0553-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/uni0553-webfont.woff') format('woff'),
         url('fonts/uni0553-webfont.ttf') format('truetype'),
         url('fonts/uni0553-webfont.svg#propcouriersansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}